body {
    font-family: 'Poppins';
    font-size: 14px;
}

h3 {
    font-size: 1.25em;
}

.custom-container {
    width: calc(100% - 200px);
    padding: 0;
}

.card-list .card-body {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.card-list .card {
    margin-bottom: 30px
}

.card-list .card .card-body > div {
    margin: 10px 0;
}

.owl-carousel .item {
    min-height: 50vh;
    padding: 20px;
    background: url('./../../images/carousel-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.owl-dots {
    text-align: center;
    margin: 10px 0 25px;
}

.owl-dots button {
    outline: none
}

button.owl-dot span {
    display: block;
    width: 10px;
    height: 10px;
    background: #D9D9D9;
    margin: 10px;
    border-radius: 50%;
}

button.owl-dot.active span {
    background: #722ED1;
}

.owl-carousel .item .content {
    position: absolute;
    color: #fff !important;
    max-width: 45%;
    margin-left: 50px;
    font-size: 16px;
    line-height: 26px;
}

.owl-nav {
    display: inline;
    color: #fff;
    font-size: 70px !important;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 80px);
    left: 15px;
    outline: none;
}

.owl-nav .owl-next {
    left: initial;
    right: 15px;
}

.owl-carousel .content h2 {
    font-weight: 700;
}

.owl-carousel .content p {
    font-size: 14px;
}

.owl-carousel .content a {
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    max-width: 222px;
}

.navbar {
    margin: 0 100px;
    background: none !important;
    padding: 1rem 0;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: rgb(114, 46, 209);
    font-size: 18px;
    font-weight: 700;
}

ul.navbar-nav.mr-auto {
    margin-left: 135px;
}

ul.navbar-nav.mr-auto li {
    margin-right: 50px;
}

.nav-item {
    position: relative;
}

.nav-item.active .nav-link {
    color: rgb(114, 46, 209) !important;
}

.search input {
    border: none;
    border-bottom: 1px solid #8C8C8C;
    width: 256px;
    margin-right: 30px;
    outline: none;
    height: 30px;
}

.search img {
    position: absolute;
    right: 35px;
}

.drop a {
    color: #000;
}

.drop img {
    width: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px 0 0px;
}

.modal-dialog.modal-xl {
    min-width: 100%;
    margin: 0px auto;
}

.modal-content {
    height: 100vh;
    border: none;
    border-radius: 0;
}

.modal {
    padding: 0px !important;
}

.modal-body {
    background: #000;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s linear;
}

.modal-body button{
	    position: absolute;
    z-index: 99999;
    color: white;
    opacity: 1;
    right: 425px;
    top: 50px;
    /*background: rgba(0, 0, 0, 0.26);*/
}

.suggestion-generated {
position: absolute;
    height: 100%;
    z-index: 9;
    padding: 40px 10px 0 50px;
    width: 0px;
    left: 0px;
    color: #fff;
    transition: 0.5s ease all;
    overflow: hidden;
}

.watch {
    width: 10px !important;
    display: inline-block !important;
    margin-right: 10px;
}

.item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(217,217,217,0.2) 100%);
    top: 0;
    left: 0;
    border-radius: 15px;
}

.modal-open.live {
    color: #F44336 !important;
}
.suggestion-generated > a img {
    transform: rotate(180deg);
}

.suggestion-generated.show > a img {
    transform: rotate(0deg);
}
.suggestion-generated.added {
	right: 0px;
    left: initial;
}

.suggestion-generated > a {
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.suggestion-generated.added > a {
	left: 0;
    right: initial;
}
button.close.video-full-screen {
    right: 475px;
}

.modal-open {
	cursor: pointer;
}
.suggestion-generated ul{
	list-style: none;
    margin: 0;
    padding: 0;
    height: 80%;
    overflow-y: scroll;
}
.video-full-screen img{
		width: 23px;
    margin: 3px 0;
    display: block;
    
}
.suggestion-generated h3,
.suggestion-generated ul{
	margin-left: 10px;
}
.suggestion-generated.show {
	left: 0;
    width: 300px;
}
.suggestion-generated.added.show {
    right: 0;
    left: initial;
}
.suggestion-generated li {
	display: flex;
    margin: 25px 0;
}

.suggestion-generated li img {
        width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
}
.suggestion-generated a{
	text-decoration: none !important;
    color: #fff !important;
}
.suggestion-generated:before {
content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5686274509803921), rgba(0, 0, 0, 0.06));
    z-index: -1;
}
#custom-seekbar
{  
    cursor: pointer;
    height: 3px;
    position: relative;
    width: calc(100% - 200px);
    z-index: 9;
    background: #BFBFBF;
    border-radius: 9px;
}

.suggestion-generated .content{
	    font-size: 12px;
    margin: 0 10px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-flow: column;
}

.suggestion-generated .content h4 {
    font-size: 16px;
    color: #fff;
}
.seek {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 90%;
    position: absolute;
    bottom: 24px;
    left: 5%;
    z-index: 9;
}
.modal-body video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    width: 100%;
}

.seek i {
    font-style: normal;
}
#custom-seekbar span
{
  background-color: #BFBFBF;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0px;
    
}
#custom-seekbar span:after {
    content: "";
  background-color: #BFBFBF;
  position: absolute;
  top: -3px;
    border-radius: 50%;
  right: 0;
  height: 10px;
  width:  10px;
}


.modal-content.ad-display .modal-body {
    min-width: calc(100% - 200px);
    min-height: calc(100% - 150px);
    /* max-height: calc(100% - 200px); */
    /* position: relative; */
    /* background: rebeccapurple; */
    top: 0;
    width: calc(100% - 200px);
    height: calc(100% - 150px);
    right: 0;
    position: absolute;
}

.modal-content.ad-display .ads .left {
    width: 200px;
    background-image: url(../images/ad-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#shoe-ad{
  width: 100%;
  background-image: url(../images/shoe-ad-color.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal-content:not(.ad-display) .ads {
    display: none;
}
.modal-content.ad-display .ads .bottom {
      position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    height: 150px;
    bottom: 0;
    background: #E7E7E7;
    padding: 20px;
}

.modal-content.ad-display .ads .bottom .color-block{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}


.ads{
    background-image: -webkit-linear-gradient(270deg, #c9c9c9 50%, #E7E7E7 50%);
    width: 100%;
    height: 100%;
}

.ads .left {
    width: 0px;
    transition: all .5s linear;

}
.ads .bottom {
    height: 0px;
    transition: all .5s linear;
}

.ads .bottom h2 {
	    font-size: 1.5rem;
    font-weight: bold;
}

.ads .bottom p {
    font-size: 10px;
    color: #888888;
}

.ads .bottom sub{
    bottom: 0;
    font-size: 14px;
}

/* .ads .bottom button {
	    background: #CCFF00 !important;
    border: none !important;
    border-radius: 35px;
    padding: 8px 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000 !important;
} */

/* Shop Now button styling */
.email-snt{
  display: none;
}

.shop-now-button {
    display: inline-block;
    background: #CCFF00 !important;
    border: none !important;
    border-radius: 35px;
    padding: 8px 37px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    min-width: 150px;
    font-size: 1em;
    text-align: center;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    transition: border-radius linear 0.05s, width linear 0.05s;
  }

  .cart-button{
    padding: 8px;
  }

  .shop-now-button:focus {
    outline: 0;
  }
  .shop-now-button.animate {
    width: 68.1818181818px;
    height: 68.1818181818px;
    min-width: 0;
    border-radius: 50%;
    color: transparent;
  }
  .shop-now-button.animate:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border: 4px solid #000;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin ease-in 2.5s forwards;
    animation-name: spin;
    -webkit-animation-name: spin;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  .shop-now-button.animate.success {
    width: 120px;
    height: 120px;
    color: black !important;
    transition: 0.1s ease-in;
    padding: 0px;
  }
  .cart-updated{
    width: 120px;
    height: 120px;
    color: black !important;
    min-width: unset;
    padding: 0px;
    border-radius: 50%;
  }
  .shop-now-button.cart-updated:before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 24.5px;
    border: 4px solid #000;
    border-right: 0;
    border-top: 0;
    margin: 10px 60px;
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
  .shop-now-button.animate.success:before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 24.5px;
    border: 4px solid #000;
    border-right: 0;
    border-top: 0;
    margin: 10px 60px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    -webkit-animation: success ease-in 0.15s forwards;
    animation: success ease-in 0.15s forwards;
    animation-delay: 0.5s;
  }
  .shop-now-button.animate.error {
    position: relative;
    -webkit-animation: vibrate ease-in 0.5s forwards;
    animation: vibrate ease-in 0.5s forwards;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  .shop-now-button.animate.error:before {
    color: #fff;
    position: absolute;
    content: '!';
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-animation: error ease-in 0.5s forwards;
    animation: error ease-in 0.5s forwards;
    animation-delay: 2.5s;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
      transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    98% {
      -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
    }
  }
  @keyframes success {
    from {
      transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }
  @-webkit-keyframes success {
    from {
      -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }
  @keyframes error {
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
      background-color: #f44336;
    }
  }
  @-webkit-keyframes error {
    from {
      -webkit-transform: translate(-50%, -50%) scale(0);
    }
    to {
      -webkit-transform: translate(-50%, -50%) scale(1);
      background-color: #f44336;
    }
  }
  @keyframes vibrate {
    0%, 30%, 60%, 85%, 100% {
      left: 0;
      background-color: #f44336;
    }
    10%, 40%, 90%, 70% {
      left: -2px;
      background-color: #f44336;
    }
    20%, 50%, 80%, 95% {
      left: 2px;
      background-color: #f44336;
    }
  }



  /* Login Page */

  /* #33B6A1 */

  .login-container{
    background: url('../images/login-bg.jpeg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .backdrop{
    background: rgba(0, 0, 0, 0.60);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-content: center;
  }

  .login-form{
    background: rgba(0, 0, 0, 0.60);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
  }

  .login-form *{
    margin-bottom: 20px;
  }

  .login-form h3{
    color: white;
  }

  .login-form input{
    padding: 10px 10px;
    color: black;
    background: #3d4845;
    border: none;
  }

  .login-btn{
    background: #33B6A1;
    border-radius: 30px;
    padding: 10px 45px;
    margin: 0 auto;
  }

  .company-logo{
    background: url('../images/wemedia-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 400px;
  }

  #overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
  